<template>
  <div id="app" class="h-100">
      <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        <div class="container">
          <a style="font-weight: 600;font-size: 25px;" class="navbar-brand" href="#">
            <img src="./assets/Logo.svg" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto nav-right">
              <li class="nav-item active"><a class="nav-link" href="#section1">Natlijm Etiketten</a></li> 
              <li class="nav-item "><a class="nav-link" href="#section2">Over Ons</a></li> 
              <li class="nav-item "><a class="nav-link" href="#contact">Contact</a></li> 
            </ul>
          </div>
        </div>
      </nav>

      <!-- CAROUSEL -->
      <div id="carou">
          <div class="cent">
            <h4>Leer ons kennen.</h4>
            <small>Bekijk de video</small>
          </div>
        <div class="videoPlayer" id="videoPlayer">
          <video id="video" src="http://techslides.com/demos/sample-videos/small.mp4"></video>
          <div id="controls" class="controls"><button @click="play()" class="btn"><i class="fa fa-play"></i></button></div>
        </div>
      </div>

      <!-- SECTION 1 -->
      <section >
        <div class="" style="margin-top:160px">
            <div id="section1" class="mb-3 " style="height:auto;">
              <div class="container" style="margin-top:150px;margin-bottom:150px;padding-top:50px">
                  <div class="row">
                      <div style="height: fit-content;margin: auto;" class="col-sm-12 col-md-6">
                          <h3>Sections One Header</h3>
                          <p class="pr-5">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi dolores doloribus commodi. Ad distinctio suscipit aliquid laborum iste nihil ratione vitae, molestiae recusandae dolorum soluta sit minus ex labore architecto?
                          </p>
                      </div>
                      <div class="col-sm-12 col-md-6">
                        <img width="100%" src="https://www.beachwoodreporter.com/ku-bigpic.jpg" alt="">
                      </div>
                  </div>
              </div>
            </div>
            <div id="section2" class=" mt-5"  style="height:410px;padding-top:0px"> 
              <div class="container" style="margin-top:150px;margin-bottom:150px">
                <div class="row">
                   <div class="col-sm-12 col-md-6">
                  <img width="100%" src="https://www.beachwoodreporter.com/ku-bigpic.jpg" alt="">
                </div>
                <div style="height: fit-content;margin: auto;"  class="col-sm-12 col-md-6">
                    <h3 class="">Sections Two Header</h3>
                    <p class="">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi dolores doloribus commodi. Ad distinctio suscipit aliquid laborum iste nihil ratione vitae, molestiae recusandae dolorum soluta sit minus ex labore architecto?
                    </p>
                </div>
                </div>
              </div>
            </div>
            <div id="contact" class=" " style="padding-top:0px;margin-top:30px;background:#E8E7EF;padding-bottom: 0px;"> 
              <div class="container" style="margin-right: 0px;padding-right: 0px;padding-left: 157px;max-width:100%">
                <div class="row">
                  <div class="col-sm-12 col-md-6 " style="margin-top:70px">
                  <h1 class="mb-0">Contacteer ons.</h1>
                  <p style="color:#F4A446;font-weight:500" class="mb-4">Vul onderstaand formulier in om contact met ons op te nemen</p>
                  <form action="">
                    <div class="row">
                      <div class="col-12"> 
                        <input type="text" class="form-control" placeholder="Full name">
                      </div>
                      <div class="col-12 mt-3">
                        <input type="text" class="form-control" placeholder="Email Address">
                      </div>
                      <div class="col-12 mt-4"> 
                        <textarea style="width:100%;border:1px solid lightgrey" class="form-control" name="" id="" cols="30" rows="8"></textarea>
                      </div>
                      <div class="col-12 mt-2 " style="margin-bottom:100px">
                          <button class="btn contBtn btn-success float-left">Verstuur</button>
                          <button class="arrowBtn"><i class="fa fa-arrow-right"></i></button>
                      </div>
                    </div>
                  </form>
                  </div>
                  <div class="col-sm-12 col-md-6">
                      <iframe  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15797.451974494295!2d4.264104!3d8.166135399999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sng!4v1581508673403!5m2!1sen!2sng" width="100%" height="380" frameborder="0" style="border:0;height:100%;width:100%" allowfullscreen=""></iframe>
                  </div>
                </div>
              </div>
            </div>       
        </div>
      </section>

      <footer style="background:#20184B" class=""> 
        <div class="container pt-5 pb-2" style="margin-left:150px">
           <div class="row">
             <div class="col-sm-12 col-md-3 foot">
                  <h4>Etikettenhuis</h4>
                  <div>Keersluisweg 23</div>
                  <div>1332 EE Almere</div>
                  <div>De Vaart</div>
                  <div>T 036 53 30 182</div>
             </div>
             <div class="col-sm-12 col-md-3 foot">
                  <h4>Over ons</h4>
                  <div><a href="">Algemene Voorwaarden</a></div>
                  <div><a href="">Privacy Policy</a></div> 
             </div>
             <div class="col-sm-12 col-md-3 foot">
               <h4>Social Media</h4>
              <a href=""><span class="fa fa-facebook"></span></a>
              <a href=""><span class="fa fa-twitter"></span></a>
              <a href=""><span class="fa fa-instagram"></span></a>
             </div>
           </div>
           <div class="row mt-4">
             <div class="col-12">
               <p style="color:lightgray;font-size:13px">Copyright © 2020 - Etikettenhuis</p>
             </div>
           </div>
        </div>
      </footer>
  </div>
</template>

<script> 
export default {
  name: 'App',
  components: {
  },
  methods:{
    play(){
      document.getElementById('controls').style.display='none';
      document.getElementById('video').play();
      document.getElementById('videoPlayer').classList.add('hide');
    }
  }
}
</script>

<style>
  .foot{
    
  }
  .foot h4{
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  .foot div{
    color: white;
    font-size: 12px;
    font-weight: 500;
  }
  .foot div a{
    color: white !important;
  }
  .foot a span{
    color: white;
    padding: 0px 8px;
  }
  
  .contBtn {
    background: transparent;
    border: 1px solid #f3a446;
    border-radius: 0px;
    color: #f3a446;
    font-weight: 500;
    text-align: left;
    width: 130px;
  }
  .arrowBtn{
    background: #f3a446;
    color: white;
    float:left;
    border-left: 0px;
    height: 38px;
    border: none;
    width: 35px;
  }

  #contact .form-control{
    background: transparent;
    border-radius: 0px;
    border-color: #4542582e !important;
  } 
  .videoPlayer::after{
    background: #00000059;
    content: '';
    display: block;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    border-radius: 4px;
  }
  .videoPlayer.hide::after{
    display: none;
  }
  .cent{
      width: 300px;
      margin: auto;
      text-align: right
  }
  .cent h4{
    margin: 0px;
    color: #20184B;
    font-size: 28px;
  }
  .cent small{
    margin: 0px;
    color: #F4A446;
    font-weight: 500;
  }
  #carou{
    background:#E8E7EF;
    height: 400px;
    width:100%;
    padding-top: 140px;
    text-align: center;

  }
  .videoPlayer{
    width: 500px;
    height: 287px;
    margin: auto;
    background: transparent;
    transform: translateY(10px);
    border-radius: 0px;
    position: relative;
  }
  .videoPlayer video{
      width: 100%; 
      height: 100%;
      border-radius: 5px !important;
      box-shadow: 0px 0px 3px lightgrey;
      padding: 0px;
  }
  .videoPlayer .controls{
    position: absolute;
    background: #F4A446;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    margin: auto;
    text-align: center;
    border-radius: 100px;
    z-index: 99;
  }
  .videoPlayer .controls button{
    width: 100%;
    height: 100%;
    color: white;
  }
  .nav-link{
    color: #20184B !important;
    font-weight: 500;
  }
  .nav-item.active{
    border-bottom: 2px solid #F4A446 !important;
  }
  .border-right{
    border-right:1px solid lightgray;
  }
  .border-left{
    border-left:1px solid lightgray;
  }
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
  }
</style>
